@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css?family=Inter:400,600");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  @apply block max-w-full;
}

@theme {
  --color-bkg: hsl(222 47.4% 11.2%);
  --color-bkg-alt: hsl(226 58.3% 18.8%);
  --color-text: hsl(226 100% 93.9%);
  --color-text-alt: hsl(226 22.1% 73.3%);
  --color-muted: hsl(230 39% 67.8%);
  --color-white: hsl(255 100% 100%);
  --color-accent1: hsl(241 76.8% 62.7%);
  --color-accent2: hsl(330 85.2% 60.4%);
  --color-accent3: hsl(0 90.6% 70.8%);
  --color-gradient1: bg-liner-r from-[#F61C65] to-[#E36C6C]
  );
}

html {
  @apply md:text-[130%];
}

body {
  @apply bg-bkg mx-auto max-w-[2000px] font-[Inter] leading-[1.55] font-[400];
}

.wrapper {
  @apply overflow-hidden px-12 md:px-8;
}

.btn {
  @apply cursor-pointer no-underline;
}

.btn--primary {
  @apply bg-accent1;
}

.btn--secondary {
  @apply bg-gradient1;
}

.btn--muted {
  @apply bg-muted;
}


.nav-links {
  @apply flex -translate-y-full transform flex-col border-b-2 border-muted bg-bkg text-center transition-transform;
}

@media (min-width: 900px) {
  .nav-links {
    @apply static flex-row border-none;
  }
}

