---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Design Landing Page">
  <header class="flex flex-col items-center">
    <h1 class="text-text mb-2 text-5xl font-bold">Your Kind of Designer</h1>
    <p class="text-muted mb-8 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, fugit a.
      Nulla numquam beatae, amet doloremque quod sunt molestias accusamus!
      Assumenda aspernatur fuga expedita accusamus, corporis in optio porro
      ratione libero. Voluptatem in deleniti id!
    </p>
    <button
      class="text-text mb-2 rounded-xs bg-linear-to-r from-[#F61C65] to-[#E36C6C] px-8 py-1.5"
      >Contact Me</button
    >

    <small class="text-muted mb-15 text-[12px]">No commitment contact </small>
    <Icon name={"programmer"} height={300} width={300} />
  </header>
</BaseLayout>
