---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
const { title = "This is a Page" } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="wrapper">
      <Navbar />
      <main>
        <slot />
      </main>
      <footer>
        <small>Copyright © <span id="copyrightYear"></span> Design</small>
      </footer>
    </div>
    <script>
      const yearElement = document.querySelector("#copyrightYear");
      if (yearElement) {
        yearElement.textContent = new Date().getFullYear().toString();
      }
    </script>
  </body>
</html>
